<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="/authors" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Authors</a>
      <a routerLink="/favorite-authors" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Favorite Authors</a>
      <a routerLink="/longest-repeatition" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Longest Repeated Letters</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->